In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data = pd.read_csv("resources/cities.csv")
city_data.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2021-09-21 16:08:48,19.7297,-155.0900,75.27,84,74,3.40
1,1,Albany,US,2021-09-21 16:13:22,42.6001,-73.9662,72.03,68,100,1.01
2,2,Gat,IL,2021-09-21 16:13:22,31.6100,34.7642,84.40,100,0,11.36
3,3,Belmopan,BZ,2021-09-21 16:08:41,17.2500,-88.7667,87.30,79,100,5.23
4,4,Kajaani,FI,2021-09-21 16:13:22,64.2273,27.7285,39.11,76,24,5.79

In [3]:
# Get the maximum temperature.
max_temp = city_data["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [4]:
city_data.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(
    locations,
    weights=[max(temp, 0) for temp in max_temp],
    dissipating=False,
    max_intensity=300,
    point_radius=4
)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data[["Lat", "Lng"]]
humidity = city_data["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(
    locations,
    weights=humidity,
    dissipating=False,
    max_intensity=300,
    point_radius=4
)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data[["Lat", "Lng"]]
clouds = city_data["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(
    locations,
    weights=clouds,
    dissipating=False,
    max_intensity=300,
    point_radius=4
)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent wind speed
locations = city_data[["Lat", "Lng"]]
wind_speed = city_data["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(
    locations,
    weights=wind_speed,
    dissipating=False,
    max_intensity=300,
    point_radius=4
)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 80

In [28]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_data = city_data.loc[(city_data["Max Temp"] <= max_temp) & \
                                       (city_data["Max Temp"] >= min_temp)]
preferred_cities_data.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2021-09-21 16:08:48,19.7297,-155.0900,75.27,84,74,3.40
1,1,Albany,US,2021-09-21 16:13:22,42.6001,-73.9662,72.03,68,100,1.01
5,5,Rikitea,PF,2021-09-21 16:13:23,-23.1203,-134.9692,73.67,71,0,14.76
6,6,Besancon,FR,2021-09-21 16:13:23,47.2488,6.0182,69.53,15,2,9.10
7,7,Muros,ES,2021-09-21 16:13:23,42.7762,-9.0603,78.24,54,1,14.27
11,11,Ambilobe,MG,2021-09-21 16:13:25,-13.2000,49.0500,75.40,64,0,4.83
17,17,Gebze,TR,2021-09-21 16:13:27,40.8028,29.4307,67.06,76,100,13.11
24,24,Yarmouth,US,2021-09-21 16:13:29,41.7057,-70.2286,74.34,77,57,1.99
25,25,Luganville,VU,2021-09-21 16:11:07,-15.5333,167.1667,75.04,80,19,2.95
27,27,Cermik,TR,2021-09-21 16:13:30,38.1361,39.4493,79.68,24,1,3.71

In [29]:
preferred_cities_data.isnull().sum()

City_ID       0
City          0
Country       2
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [30]:
preferred_cities_data = preferred_cities_data.dropna()
preferred_cities_data.count()

City_ID       198
City          198
Country       198
Date          198
Lat           198
Lng           198
Max Temp      198
Humidity      198
Cloudiness    198
Wind Speed    198
dtype: int64

In [36]:
hotel_data = preferred_cities_data[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_data['Hotel Name'] = ''
hotel_data.head()

       City Country  Max Temp      Lat       Lng Hotel Name
0      Hilo      US     75.27  19.7297 -155.0900
1    Albany      US     72.03  42.6001  -73.9662
5   Rikitea      PF     73.67 -23.1203 -134.9692
6  Besancon      FR     69.53  47.2488    6.0182
7     Muros      ES     78.24  42.7762   -9.0603

In [45]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [46]:
# Iterate through the DataFrame.
for index, row in hotel_data.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_data.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print('No hotel found near this location...skipping')

No hotel found near this location...skipping
No hotel found near this location...skipping
No hotel found near this location...skipping
No hotel found near this location...skipping
No hotel found near this location...skipping
No hotel found near this location...skipping
No hotel found near this location...skipping
No hotel found near this location...skipping
No hotel found near this location...skipping

In [47]:
hotel_data.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hilo,US,75.27,19.7297,-155.0900,Hilo Hawaiian Hotel
1,Albany,US,72.03,42.6001,-73.9662,
5,Rikitea,PF,73.67,-23.1203,-134.9692,People ThankYou
6,Besancon,FR,69.53,47.2488,6.0182,ibis Besançon Centre-Ville
7,Muros,ES,78.24,42.7762,-9.0603,Apartment Av. Castelao
11,Ambilobe,MG,75.40,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
17,Gebze,TR,67.06,40.8028,29.4307,Holiday Inn Gebze - Istanbul Asia
24,Yarmouth,US,74.34,41.7057,-70.2286,Blue Rock Resort
25,Luganville,VU,75.04,-15.5333,167.1667,The Espiritu Hotel
27,Cermik,TR,79.68,38.1361,39.4493,Çermik Öğretmen Evi

In [49]:
hotel_data.count()

City          198
Country       198
Max Temp      198
Lat           198
Lng           198
Hotel Name    198
dtype: int64

In [53]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [59]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_data.iterrows()]

In [60]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = hotel_data[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = hotel_data["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(
    locations,
    weights=max_temp,
    dissipating=False,
    max_intensity=300,
    point_radius=4
)
# Marker layer
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the map layers.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))